@charset "UTF-8";

@import './modules/fonts';
@import './modules/reset';
@import './modules/mixin';
@import './modules/variable';
@import './layout';

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
