{
  "arrowParens": "always",
  "bracketSpacing": true,
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxBrackets": false,
  "jsxSingleQuote": false,
  "printWidth": 80,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all"
}
