/*
  rules
  1. 시작은 --로 시작
  2. 대문자는 사용 X
*/

:root {
  // common
  --text-default-color: #000;

  // header color
  --header-bg: #fff;

  // aside color
  --aside-bg: #23292d;
  --aside-gnb-active: #06577f;
}
